/*  your css code here. If applicable */
h1{
	text-align: center;
}
.middle{
	/*width:100%;
	border:1px solid black;
	boreder-collapse:collapse;
	margin:10px;*/
	width:100%;
	Table Borders: 1px solid black; Spacing: 1px; Cell Padding: 1px;
}
.right{
	text-align:right;
}
.cen{
	text-align:center;
}
#t11,#t12,#t13{
	border:1px solid black;
}
#t-image{
	text-align:center;
}